
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">sdf</li>

                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Predictive_Temperature_Modeling">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Predictive Temperature Modeling</span>
                    </a>
                </li>

               <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Energy_Consumption_Forecasting">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Energy Consumption Forecasting</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Comfort_Optimisation_Models">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Comfort Optimisation Models</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Anomaly_Detection_Models">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Anomaly Detection Models</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Load_Balancing_Models">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Load Balancing Models</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Behavioural_Change_Impact_Models">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Behavioural Change Impact Models</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Dynamic_Pricing_Optimisation_Models">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dynamic Pricing Optimisation Models</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Energy_Efficiency_Profiling">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Energy Efficiency Profiling</span>
                    </a>
                </li>
                <!-- Dashboard -->
                <li>
                    <a href="../dashboard/Zone-Based_Load_Forecasting">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Zone-Based Load Forecasting</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>