{% extends "/base.html" %} {% block title %}User Dashboard{% endblock %} {%
block page_content %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<link
  rel="stylesheet"
  href="../static/css/heatsyncmodels.css"
  rel="stylesheet"
/>

<script type="importmap">
{
  "imports": {
    "three": "https://unpkg.com/three@0.180.0/build/three.module.js",
    "web-ifc": "https://cdn.jsdelivr.net/npm/web-ifc@0.0.53/web-ifc-api.js",
    "three/examples/jsm/utils/BufferGeometryUtils":
      "https://unpkg.com/three@0.180.0/examples/jsm/utils/BufferGeometryUtils.js"
  }
}
</script>


<script>
  // Convert Python data to JavaScript variable
  const GRAPHMETRICSDATA = {{ dataForModels[0] | tojson }};
  const KDATA = {{ kdata | tojson }};
  const tabName = "{{ tab_name }}";
</script>
<!-- <script type="module" src="../static/js/buildings.js"></script> -->
<script type="module" src="../static/js/index.js"></script>
<script src="../static/js/pages.js"></script>
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container">
      <div class="panel">
        <div class="tabs">
          <div class="tab active" data-tab="overall">Overall Comparison</div>
          {% for tab in topLeveltabs %}
          <div class="tab" data-tab="{{ tab }}">{{ tab }}</div>
          {% endfor %}
        </div>
        <div class="tabpanes">
          <section id="metrics-main-content">
            </section>
       

          {% for tab in topLeveltabs %}

          <div class="pane" data-pane="{{ tab }}">
            <div class="grid">
              <div class="card full">
                <h3>{{ tab }}</h3>
                <div class="chart" ></div>
              </div>
              <div class="card">
                <h3>{{ tab }}  Metrics</h3>
                <div class="metrics-list"></div>
              </div>
            </div>
          </div>
          {% endfor %}
      
        <div class="pane" data-pane="overall" style="display: block">
          <h4 class="card-title">Energy Usage Overview</h4>

          <table
            id="datatable-buttons"
            class="table table-bordered table-sm dt-responsive nowrap w-100"
          >
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Average kW</th>
                <th>Maximum kW</th>
                <th>Minimum kW</th>
                <th>Total kWh</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>November 2024</td>
                <td>231.7</td>
                <td>436.8</td>
                <td>151.3</td>
                <td>44,234.4</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>October 2024</td>
                <td>245.6</td>
                <td>512.5</td>
                <td>211.8</td>
                <td>45,212.3</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>September 2024</td>
                <td>255.2</td>
                <td>425.6</td>
                <td>125.2</td>
                <td>37,293.3</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>August 2024</td>
                <td>235.7</td>
                <td>527.3</td>
                <td>196.8</td>
                <td>42,562.4</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>July 2024</td>
                <td>301.1</td>
                <td>563.5</td>
                <td>262.8</td>
                <td>46,311.3</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>June 2024</td>
                <td>215.6</td>
                <td>482.2</td>
                <td>131.4</td>
                <td>39,110.1</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>May 2024</td>
                <td>225.6</td>
                <td>482.2</td>
                <td>175.2</td>
                <td>35,119.3</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>April 2024</td>
                <td>301.1</td>
                <td>489.1</td>
                <td>263.8</td>
                <td>44,725.6</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>March 2024</td>
                <td>285.1</td>
                <td>614.5</td>
                <td>220.2</td>
                <td>42,972.2</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>February 2024</td>
                <td>217.2</td>
                <td>479.1</td>
                <td>143.2</td>
                <td>39,741.1</td>
              </tr>
              <tr>
                <td>BURIUR382W3RWE</td>
                <td>January 2024</td>
                <td>278.1</td>
                <td>603.2</td>
                <td>162.5</td>
                <td>42,841.6</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end main content-->
      </div>  </div>
    </div>
  </div>
</div>

{% endblock %}
